.welcome-1-icon {
  height: 59px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.welcome-1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 var(--padding-5xl);
}
.to {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 38px;
}
.to-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 var(--padding-xl);
}
.screenshot-2024-06-16-211452-1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-group,
.start-page-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.start-page-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 var(--padding-6xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--black);
  font-family: var(--small-text);
}
.create-an-account {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
}
.create-an-account-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 41px;
}
.enter-your-email {
  position: relative;
  font-size: var(--small-text-size);
  line-height: 150%;
}
.frame-div,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 43px;
  font-size: var(--font-size-5xl);
}
.label {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--small-text);
  font-size: var(--body-text-size);
  background-color: transparent;
  height: 30px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 182px;
  padding: 0;
}
.field {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--mono-white);
  border: 1px solid var(--grey-border);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-mini);
}
.primary {
  position: relative;
  font-size: var(--small-text-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--small-text);
  color: var(--mono-white);
  text-align: left;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--black);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.field-button-primary,
.field-button-primary-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.field-button-primary {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  gap: var(--gap-base);
}
.field-button-primary-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-lg) 0 var(--padding-lgi);
}
.frame-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-gainsboro-100);
}
.rectangle-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-5) 0 0;
  box-sizing: border-box;
  min-width: 77px;
}
.or-continue-with {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 123px;
}
.frame-item {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-gainsboro-100);
}
.frame-parent1,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xs-5) 0 0;
  box-sizing: border-box;
  min-width: 77px;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  color: var(--color-gray-100);
}
.google-icon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.google-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}
.google {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 62px;
}
.button-wrapper,
.button2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.button2 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: #eee;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-sm) var(--padding-6xs);
  gap: 104px;
  cursor: pointer;
}
.button-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-lg);
}
.privacy-policy,
.terms-of-service {
  color: var(--black);
}
.by-clicking-continue-container {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  color: var(--color-gray-100);
}
.frame-container,
.start-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-container {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--small-text-size);
  color: var(--black);
  font-family: var(--small-text);
}
.start-page {
  width: 100%;
  position: relative;
  background-color: var(--mono-white);
  overflow: hidden;
  align-items: flex-start;
  padding: 48px 0 164px;
  box-sizing: border-box;
  gap: 51px;
  line-height: normal;
  letter-spacing: normal;
}
