@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-ubuntu: Ubuntu;
  --small-text: Inter;
  --font-roboto-serif: "Roboto Serif";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-9xl: 28px;
  --small-text-size: 16px;
  --body-text-size: 20px;
  --font-size-13xl: 32px;
  --font-size-smi: 13px;

  /* Colors */
  --mono-white: #fff;
  --color-gray-100: #828282;
  --color-gray-200: #151515;
  --color-gray-300: #140909;
  --color-slateblue-100: #6050b3;
  --color-slateblue-200: rgba(96, 80, 179, 0.05);
  --color-darkslategray: #424242;
  --black: #000;
  --color-lightpink: #eca1a1;
  --box: #f7fafc;
  --color-gainsboro-100: #e6e6e6;
  --grey-border: #e0e0e0;
  --grey-placeholder: #a5acb8;
  --color-slategray-100: #727f96;
  --grey-labels: #4f5b76;
  --stripe-blue: #0570de;

  /* Gaps */
  --gap-base: 16px;
  --gap-29xl: 48px;
  --gap-sm-8: 13.8px;
  --gap-21xl: 40px;
  --gap-5xl: 24px;
  --gap-smi: 13px;
  --gap-3xs: 10px;
  --gap-8xs: 5px;
  --gap-xl: 20px;
  --gap-9xs-7: 3.7px;
  --gap-lgi: 19px;
  --gap-12xs: 1px;
  --gap-xs: 12px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-mid: 17px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-3xs: 10px;
  --padding-lgi: 19px;
  --padding-4xs: 9px;
  --padding-9xl: 28px;
  --padding-xs: 12px;
  --padding-2xs: 11px;
  --padding-11xs: 2px;
  --padding-smi: 13px;
  --padding-7xs: 6px;
  --padding-mini: 15px;
  --padding-8xs: 5px;
  --padding-sm: 14px;
  --padding-7xl: 26px;
  --padding-4xl: 23px;
  --padding-5xl: 24px;
  --padding-12xs: 1px;
  --padding-6xl: 25px;
  --padding-3xl: 22px;
  --padding-base: 16px;
  --padding-10xs-8: 2.8px;
  --padding-xl: 20px;
  --padding-lg: 18px;
  --padding-6xs: 7px;
  --padding-10xs: 3px;
  --padding-xs-5: 11.5px;

  /* Border radiuses */
  --br-6xl: 25px;
  --br-3xs: 10px;
  --br-mini: 15px;
  --br-xl: 20px;
  --br-5xs: 8px;
  --br-7xs: 6px;

  /* Effects */
  --purple-shadow: 0px 4px 20px rgba(96, 80, 179, 0.3);
  --inputs: 0px 2px 4px rgba(0, 0, 0, 0.07);
}
